services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: wikimasters
      POSTGRES_PASSWORD: wikimasters
      POSTGRES_DB: wikimasters
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
